@import 'mixins';

.contact {
  h2 {
    color: #333;
    font-family: 'Sigmar One', sans-serif;
    text-align: center;
  }
  p {
    padding-bottom: 10px;
  }
  .question {
    display: block;
    margin: 15px 0 0;
  }
  form {
    margin: 0 auto;
    max-width: 500px;
  }
  .question {
    position: relative;
    &::after {
      clear: both;
      content: "";
      display: block;
    }
  }
  label {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    margin-right: -4px;
    text-transform: uppercase;
    // vertical-align: middle;
    width: 30%;
    @include center('vertical');
    &.required::after {
      color: red;
      content: "*";
      display: inline-block;
      margin-left: 3px;
    }
  }
  input, textarea {
    background: #E9F3E4;
    border: solid 3px #82936F;
    color: #4F7840;
    font-size: 13px;
    height: 3em;
    margin-left: 30%;
    padding: 10px;
    width: 70%;
    @include prefix(border-radius, 3px);
    @include prefix(box-sizing, border-box);
    &:focus {
      border-color: #B9D3A4;
      outline: none;
      @include prefix(box-shadow, 0 0 10px #B9D3A4);
    }
  }
  textarea {
    height: 12em;
  }
  button {
    background: #B9D3A4;
    border: solid 2px #2E5200;
    color: #2E5200;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    outline: none;
    padding: 10px 30px;
    @include prefix(border-radius, 5px);
    &:active {
      background: #2E5200;
      border: solid 2px #B9D3A4;
      color: #B9D3A4;
    }
  }
  @media screen and (max-width: 500px) {
    label {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      @include prefix(tranform, none);
    }
    input, textarea {
      display: block;
      margin: 0;
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}