.home {
  opacity: 0;
  -webkit-transition: opacity 1500ms ease-in-out;
  -moz-transition: opacity 1500ms ease-in-out;
  -ms-transition: opacity 1500ms ease-in-out;
  -o-transition: opacity 1500ms ease-in-out;
  transition: opacity 1500ms ease-in-out; }
  .home.visible {
    opacity: 1; }

.carousel {
  height: 420px;
  display: block;
  margin: 10px auto 20px;
  padding: 0;
  position: relative;
  max-width: 860px; }
  .carousel input {
    display: none; }
  .carousel input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out; }
  .carousel input:checked + .slide-container .nav label {
    display: block; }
  @media screen and (max-width: 560px) {
    .carousel {
      height: 50vw; }
      .carousel .prev, .carousel .next {
        line-height: 100%; } }

.carousel * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

.slide-container {
  display: block; }

.slide {
  display: block;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all .7s ease-in-out;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .slide img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px #666;
    -moz-box-shadow: 2px 2px 2px #666;
    -ms-box-shadow: 2px 2px 2px #666;
    -o-box-shadow: 2px 2px 2px #666;
    box-shadow: 2px 2px 2px #666; }
  .slide:hover + .nav label {
    opacity: 0.5; }

.nav label {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFF;
  cursor: pointer;
  display: none;
  font-family: sans-serif;
  font-size: 156pt;
  height: 100%;
  line-height: 380px;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 15px #777777;
  transition: opacity .2s;
  width: 200px;
  z-index: 9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .nav label:hover {
    opacity: 1; }
.nav .next {
  right: 0; }

.itineraries h2 {
  color: #333;
  font-family: 'Sigmar One', sans-serif; }
.itineraries nav {
  border: solid 2px #2E5200;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .itineraries nav a {
    display: inline-block;
    width: 50%; }
.itineraries .map {
  float: right;
  margin: 0 0 10px 10px; }

.picture-tiles {
  text-align: center; }

.picture-tile {
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 7px;
  overflow: hidden;
  position: relative;
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .picture-tile img {
    height: auto;
    overflow: hidden;
    width: 100%;
    -webkit-transition: transform 800ms ease;
    -moz-transition: transform 800ms ease;
    -ms-transition: transform 800ms ease;
    -o-transition: transform 800ms ease;
    transition: transform 800ms ease;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .picture-tile img:hover {
      -webkit-transform: translateY(-50%) translateX(-50%) scale(1.06);
      -moz-transform: translateY(-50%) translateX(-50%) scale(1.06);
      -ms-transform: translateY(-50%) translateX(-50%) scale(1.06);
      -o-transform: translateY(-50%) translateX(-50%) scale(1.06);
      transform: translateY(-50%) translateX(-50%) scale(1.06); }

.contact h2 {
  color: #333;
  font-family: 'Sigmar One', sans-serif;
  text-align: center; }
.contact p {
  padding-bottom: 10px; }
.contact .question {
  display: block;
  margin: 15px 0 0; }
.contact form {
  margin: 0 auto;
  max-width: 500px; }
.contact .question {
  position: relative; }
  .contact .question::after {
    clear: both;
    content: "";
    display: block; }
.contact label {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  margin-right: -4px;
  text-transform: uppercase;
  width: 30%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .contact label.required::after {
    color: red;
    content: "*";
    display: inline-block;
    margin-left: 3px; }
.contact input, .contact textarea {
  background: #E9F3E4;
  border: solid 3px #82936F;
  color: #4F7840;
  font-size: 13px;
  height: 3em;
  margin-left: 30%;
  padding: 10px;
  width: 70%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .contact input:focus, .contact textarea:focus {
    border-color: #B9D3A4;
    outline: none;
    -webkit-box-shadow: 0 0 10px #B9D3A4;
    -moz-box-shadow: 0 0 10px #B9D3A4;
    -ms-box-shadow: 0 0 10px #B9D3A4;
    -o-box-shadow: 0 0 10px #B9D3A4;
    box-shadow: 0 0 10px #B9D3A4; }
.contact textarea {
  height: 12em; }
.contact button {
  background: #B9D3A4;
  border: solid 2px #2E5200;
  color: #2E5200;
  cursor: pointer;
  display: block;
  margin: 10px auto 0;
  outline: none;
  padding: 10px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .contact button:active {
    background: #2E5200;
    border: solid 2px #B9D3A4;
    color: #B9D3A4; }
@media screen and (max-width: 500px) {
  .contact label {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-tranform: none;
    -moz-tranform: none;
    -ms-tranform: none;
    -o-tranform: none;
    tranform: none; }
  .contact input, .contact textarea {
    display: block;
    margin: 0;
    width: 100%; }
  .contact button {
    width: 100%; } }

.terms h2 {
  color: #333;
  font-family: 'Sigmar One', sans-serif;
  text-align: center; }
.terms a {
  color: #B9D3A4; }

/* Preload images */
body:after {
  content: url(images/close.png) url(images/loading.gif) url(images/prev.png) url(images/next.png);
  display: none; }

#lightbox {
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(images/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

html {
  height: 100%; }

body {
  background: #82936F;
  background: linear-gradient(to right, #82936F 0%, #B9D3A4 50%, #82936F 100%);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-linear-gradient: left, #82936F 0%, #B9D3A4 50%, #82936F 100%;
  -moz-linear-gradient: left, #82936F 0%, #B9D3A4 50%, #82936F 100%;
  -ms-linear-gradient: left, #82936F 0%, #B9D3A4 50%, #82936F 100%;
  -o-linear-gradient: left, #82936F 0%, #B9D3A4 50%, #82936F 100%;
  linear-gradient: left, #82936F 0%, #B9D3A4 50%, #82936F 100%; }

main {
  color: #9BBB59;
  margin: 0 auto;
  max-width: 860px;
  padding: 20px; }

header.top {
  background: url(images/gradient.png) repeat;
  background-color: #577D44;
  color: #B9D3A4;
  cursor: default;
  height: 200px;
  font-family: 'Sigmar One', sans-serif;
  line-height: 200px;
  position: relative;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 950px) {
    header.top {
      height: 20vw;
      line-height: 20vw; } }
  header.top .header-context {
    display: inline-block;
    position: relative; }
  header.top .logo {
    background: url(images/small/logo.png) no-repeat;
    background-size: 150px;
    height: 150px;
    left: -80px;
    width: 150px;
    z-index: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    @media screen and (max-width: 950px) {
      header.top .logo {
        background-size: 18vw;
        height: 18vw;
        left: -8vw;
        width: 18vw; } }
  header.top h1 {
    display: inline-block;
    font-size: 68px;
    position: relative;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    @media screen and (max-width: 850px) {
      header.top h1 {
        font-size: 7vw; } }
  header.top .fb_iframe_widget {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    header.top .fb_iframe_widget > span {
      bottom: 2vw;
      right: 3px;
      vertical-align: bottom; }
  header.top .site-keywords {
    position: absolute;
    visibility: hidden; }

nav {
  background: url(images/gradient.png) repeat;
  background-color: #4F7840;
  border-bottom: solid 2px #2E5200;
  border-top: solid 2px #2E5200;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%; }
  nav a {
    color: #B9D3A4;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: -4px;
    padding: 12px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 25%; }
    nav a::after {
      background: #2E5200;
      bottom: 0;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      width: 100%;
      -webkit-transition: height 350ms;
      -moz-transition: height 350ms;
      -ms-transition: height 350ms;
      -o-transition: height 350ms;
      transition: height 350ms; }
    nav a:hover::after {
      height: 3px;
      position: absolute; }

h1, h3 {
  margin: 0;
  font-weight: bold;
  padding: 0; }

.textbox {
  background: #424A3E;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px #666;
  -moz-box-shadow: 2px 2px 2px #666;
  -ms-box-shadow: 2px 2px 2px #666;
  -o-box-shadow: 2px 2px 2px #666;
  box-shadow: 2px 2px 2px #666; }
  .textbox header {
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase; }

footer {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  footer a {
    color: black;
    font-weight: bold;
    text-decoration: none; }

::selection {
  background: #2E5200; }
