!!!
%html
  %head
    %title Adventure Amazon
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
  %body
    %header.top
      %h1
        Adventure Amazon
    %nav
      %a{href: "#/"} Home
      %a{href: "#/itenineraries"} Itenineraries
      %a{href: "#/pictures"} Pictures
      %a{href: "#/contact"} Contact Us!
    %main
      %div.carousel
      %div.about.textbox
        %header
          %h3
            About Us
        %div
          Welcome to Adventure Amazon!
          Adventure Amazon is a Travel Agency providing unique tours to Manu Rainforest in Peru. Our goal is to provide an exciting adventure into the Amazon Rainforest and to deliver our guests a satisfying, unique experience. Our guides, drivers and cooks are all highly trained conservationists, striving to protect our beautiful rainforests. Our quest begins and ends in the historical town of Cusco, Peru. We take you over the Andes, into the Amazon and back again. Come with us for an unforgettable experience into the Amazon!
      %div.about-manu