!!!
%html
  %head
    %title Adventure Amazon
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
  %body
    %header
      %h1
        Adventure Amazon