!!!
%html
  %head
    %title Adventure Amazon
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Sigmar+One", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Condensed", rel: "stylesheet", type: "text/css"}
    %meta{content: "width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0", name:"viewport"}
  %body
    %header.top
      %div.header-context
        %h1 Adventure Amazon
        %span.logo
    %nav
      %a{href: "#/"} Home
      %a{href: "#/itineraries"} Itineraries
      %a{href: "#/pictures"} Pictures
      %a{href: "#/contact"} Contact Us!
    %main
      %div.page.home
        %section.carousel
        %section.text
          %article.about.textbox
            %header
              %h3 About Us
            %div
              Welcome to Adventure Amazon!
              Adventure Amazon is a Travel Agency providing unique tours to Manu Rainforest in Peru. Our goal is to provide an exciting adventure into the Amazon Rainforest and to deliver our guests a satisfying, unique experience. Our guides, drivers and cooks are all highly trained conservationists, striving to protect our beautiful rainforests. Our quest begins and ends in the historical town of Cusco, Peru. We take you over the Andes, into the Amazon and back again. Come with us for an unforgettable experience into the Amazon!
          %article.about-manu.textbox
            %header
              %h3 About Manu
            %div
              Manu is one of the most bio-diverse regions in the World. The bio-reserve is almost exclusively accessed through Cusco, Peru. With 15,000 species of plants and over 1000 species of birds, Manu provides you with an experience you can find nowhere else on Earth. Mammals, Reptiles, Amphibians, Fish, and Insects fill the region. On our journey you will travel down the world-famous Manu Road. Every 50 meters of your descent hosts its own unique ecosystem and species. When we reach the river, you will begin your adventure into Amazon Wildlife. If diversity is what you seek, Manu is for you!

      %div.page.itineraries
        %nav
          %a.to-cultural-zone Itinerary - 4 day Trip (Cultural Zone)
          %a.to-reserved-zone Itinerary - 6 day Trip (Reserved Zone)
        %section.cultural-zone
          %h2 4 Day Trip (Cultural Zone)
          %article.day-1.textbox
            %header
              %h3 Day 1: Cusco &rarr; Bamboo Lodge
            %a{href: "images/map.jpg", "data-lightbox" => "map"}
              %img.map{src: "images/small/map.jpg"}
            %ul
              %li Departure from Hotel in Cusco
              %li Breakfast in Huancarani
              %li Ninamarka Archeological Site
              %li Paucartambo Museum
              %li Manu National Park
              %li Wildlife Spotting in the Cloud Forest
              %li Lunch on Manu Roa
              %li Wildlife Spotting on Manu Road
              %li Dinner upon arrival at Bamboo Lodge
            %p
              Our trip begins around 6:00 am from your Hotel. Our guide will pick you up, along with other guests on your trip. We will start the trip by driving up the beautiful Andes Mountains. After a quick breakfast in the small town of Hauncarani, we will visit the pre-Inca Archeological site of Ninamarka and the Paucartambo Inca Museum. After we cross the peaks, we will start our decent into the Cloud Forest. This is the entrance to the Amazon Rainforest and will be our first chance to see unique flora and fauna, including monkeys, unique plants, and several bird species. If we are lucky, we might see Peru's national bird, "Cock of the Rock." We will stop for lunch down this legendry road, spotting wildlife all along the way. When we reach the bottom, we will arrive at the "Bamboo Lodge" for the night. Here we will enjoy dinner and have a look around the forest.
          %article.day-2.textbox
            %header
              %h3 Day 2: Bamboo lodge &rarr; Soga de Oro Lodge
            %ul
              %li Morning walk around the Lodge
              %li Breakfast
              %li Visit to Wildlife Recue Center
              %li Wildlife Spotting on the way to Atalaya
              %li Motorized Canoe to Soga de Oro Lodge
              %li Lunch
              %li Rainforest Trek
              %li Dinner
              %li Optional Night Hike
            %p
              In the morning, we will take a small walk around the lodge to see the local banana trees and crops. Then we will enjoy breakfast before starting our drive towards Atalaya. We will spot many species on the road. We will also stop at a small Wildlife Rescue Center, where several animals have been rescued from the Black Market. When we reach Atalaya, we will get our Rubber Boots and transfer to a motorized canoe. This will take us down the Rio Madre de Dios to the Soga de Oro Lodge where we will be spending the next two nights. We will have lunch and trek around the surrounding rainforest. After dinner, we will offer an optional night hike to see nocturnal animals like snakes, frogs, and insects.
          %article.day-3.textbox
            %header
              %h3 Day 3: Soga de Oro Lodge
            %ul
              %li Early departure for the Clay-lick to see Parrots and Macaws
              %li Breakfast
              %li Rainforest Trek
              %li Lunch
              %li Paddle Boat / Rafting on Machuwasi lake
              %li Dinner
              %li Optional Night Hike
            %p
              We will be leaving the lodge at 5:00 am on this morning. The boat will drop us off for an up-close look at one of the world famous Clay licks. Parrots and Macaws rely on this clay for nutrition. Afterwards, we have breakfast and will go on a rainforest trek. There will be many opportunities to see wildlife and to learn about this extremely diverse region of the Amazon. Later in the day, we will visit Machuwasi Lake to see several species of birds, including the ancient Hoatzin. We will have a relaxing afternoon on Balsa wood paddle boats around the lake. After dinner, a night hike is optional.
          %article.day-4.textbox
            %header
              %h3 Day 4: Bamboo Lodge &rarr; Cusco
            %ul
              %li Breakfast
              %li Boat to Atalaya
              %li Wildlife Spotting on Manu Road
              %li Lunch
              %li Drop off at Hotel in Cusco
            %p
              After breakfast, we will take the boat back to Atalaya. Then we will take the van back towards the Manu Road. Here we will have another wonderful chance to spot wildlife at every altitude along the road. With every change in elevation, we enter a new ecosystem with its own species of flora and fauna. We will have lunch on the road before making our final drive towards Cusco. Our guides will drop you off at the hotel of your choice, upon our return.
          %article.whats-included.textbox
            %header
              %h3 What's Included?
            %ul
              %li Naturalist guide &mdash; English and Spanish (with telescope and books)
              %li Snacks, juices and mineral water
              %li Meals (breakfast, lunch and dinner)
              %li Lodging
              %li Private bus and boat
              %li Entrance to Clay-lick & Lake
              %li Rubber boots
          %article.what-to-bring.textbox
            %header
              %h3 What to bring?
            %ul
              %li Light clothes
              %li Long sleeve shirts and pants
              %li Hiking or quality Tennis shoes
              %li Sun glasses
              %li Sun block
              %li Insect repellent
              %li Sandals
              %li Camera (the guide will tell you where to charge your batteries in this trip)
              %li Water Bottle (we will provide drinking water every day)
              %li Raincoat or Pancho
              %li Binoculars (can rent from your Guide prior to departure)

        %section.reserved-zone
          %h2 6 Day Trip (Reserved Zone)
          %article.day-1.textbox
            %header
              %h3 Day 1: Cusco &rarr; Bamboo Lodge
            %ul
              %li Departure from Hotel in Cusco
              %li Breakfast in Huancarani
              %li Ninamarka Archeological Site
              %li Paucartambo Museum
              %li Manu National Park
              %li Wildlife Spotting in the Cloud Forest
              %li Lunch on Manu Roa
              %li Wildlife Spotting on Manu Road
              %li Dinner upon arrival at Bamboo Lodge
            %p
              Our trip begins around 6:00 am from your Hotel. Our guide will pick you up, along with other guests on your trip. We will start the trip by driving up the beautiful Andes Mountains. After a quick breakfast in the small town of Hauncarani, we will visit the pre-Inca Archeological site of Ninamarka and the Paucartambo Inca Museum. After we cross the peaks, we will start our decent into the Cloud Forest. This is the entrance to the Amazon Rainforest and will be our first chance to see unique flora and fauna, including monkeys, unique plants, and several bird species. If we are lucky, we might see Peru's national bird, "Cock of the Rock." We will stop for lunch down this legendry road, spotting wildlife all along the way. When we reach the bottom, we will arrive at the "Bamboo Lodge" for the night. Here we will enjoy dinner and have a look around the forest.
          %article.day-2.textbox
            %header
              %h3 Day 2: Bamboo Lodge &rarr; Hummingbird Lodge
            %ul
              %li Breakfast
              %li Visit to Wildlife Recue Center
              %li Wildlife Spotting on the way to Atalaya
              %li 6 hour Motorized Canoe to Hummingbird Lodge
              %li Lunch on the River
              %li Diner at the Lodge
              %li Optional Night Hike
            %p
              This day we will travel three hours by car and six hours navigating the Madre de Dios River. After breakfast, we will begin our journey spotting wildlife along the road. We will also stop at a small Wildlife Rescue Center, where several animals have been rescued from the Black Market. When we reach Atalaya, we will get our Rubber boots and transfer to a motorized canoe. This will take us down the Rio Madre de Dios. Lunch will be provided on this 6 hour boat trip. Here, we will have many chances to see wildlife on the river bank. In the evening, we will arrive at the Hummingbird Lodge for dinner. There will be an optional night hike to see nocturnal animals like snakes, frogs, and insects.
          %article.day-3.textbox
            %header
              %h3 Day 3: Hummingbird Lodge &rarr; Casa Matsiguenka / Manu National Park
            %ul
              %li Breakfast at the Lodge
              %li Boat down the river to see wildlife
              %li Arrival to Casa Matsiguenka Lodge
              %li Lunch at the Lodge
              %li Oxbow Lake to see wildlife
              %li Dinner at the Lodge
              %li Optional Night Hike
            %p
              We leave early in the morning after breakfast. This is one of the best days on the Manu River. We will take every advantage to see wildlife in the rainforest. In about four hours we will arrive at Casa Matsiguenka (a lodge in Manu National Park) where the locals will be waiting for us. After lunch, we will visit an Oxbow Lake to see giant river otters, caimans, monkeys and many birds. In the evening we will enjoy dinner and an optional night hike.
          %article.day-4.textbox
            %header
              %h3 Day 4: Casa Matsiguenka Lodge &rarr; Tambo Blanquillo Lodge
            %ul
              %li Breakfast at the Lodge
              %li Visit to a nearby Oxbow Lake
              %li Lunch
              %li Boat ride to the Blanquillo Lodge
              %li Visit to the Tapir Lick
              %li Diner
              %li Optional Night Hike
            %p
              After breakfast, we will be visiting another Oxbow lake in Manu National Park. This will increase our chances of seeing many species of animals. After lunch, we will go down the Manu River to the Tambo Blanquillo lodge. After settling in, we will visit the Tapir Clay Lick. This is a unique area of the forest where giant Tapir come to get nutrients. After diner we will provide an optional night hike.
          %article.day-5.textbox
            %header
              %h3 Day 5: Tambo Blanquillo Lodge
            %ul
              %li Early departure to Macaw Clay Lick
              %li Breakfast in the Blind during Macaw show
              %li Lunch upon return to the Lodge
              %li Afternoon Rainforest Trek
              %li Visit to an Oxbow Lake
              %li Dinner at Lodge
              %li Optional Night Hike
            %p
              This is the best day to see extreme activity of the Parrots, Parakeets and Macaws. We will be going to a blind to enjoy breakfast, 50 meters from the Clay Lick early in the morning. Here, we also have a great chance to see Monkeys, Tapir and many other animals. After this we will go back to the lodge for lunch. In the afternoon, we will go trekking in the trails of the rainforest. We will also visit another oxbow lake see the river otters. We will enjoy dinner at the lodge and have one last chance at a night hike.
          %article.day-6.textbox
            %header
              %h3 Day 6: Tambo Blanquillo Lodge &rarr; Cusco
            %ul
              %li Breakfast at the Lodge
              %li Boat Ride to Atalaya
              %li Wildlife spotting on the Road
              %li Lunch
              %li Wildlife spotting in the Cloud Forest
              %li Arrival to Cusco at 5:00-6:00pm
            %p
              Today we leave in the morning after a nice breakfast. We will travel by boat to Atalaya. Then we will transfer to Van and take Peru's Trans-oceanic road back to Cusco. We will enjoy its amazing views and landscapes, making some stops on the way. We will have lunch, surrounded by nature on the road. Then we will continue our drive through the Cloud Forest. We will arrive in Cusco around 5:00-6:00pm.
          %article.whats-included.textbox
            %header
              %h3 What's included?
            %ul
              %li Entrance to Manu National Park
              %li Naturalist guide &mdash; English and Spanish (with telescope and books)
              %li Snacks, juices and mineral water
              %li Meals (breakfast, lunch and dinner)
              %li Lodging
              %li Private bus and boat
              %li Entrance to Clay-lick & Lakes
              %li Rubber boots
          %article.what-to-bring.textbox
            %header
              %h3 What to bring?
            %ul
              %li Light clothes
              %li Long sleeve shirts and pants
              %li Hiking or quality Tennis shoes
              %li Sun glasses
              %li Sun block
              %li Insect repellent
              %li Sandals
              %li Camera (the guide will tell you where to charge your batteries in this trip)
              %li Water Bottle (we will provide drinking water every day)
              %li Raincoat or Pancho
              %li Binoculars (can rent from your Guide prior to departure)

      %div.page.pictures
        %section.picture-tiles

      %div.page.contact

      %div.page.terms
        %header
          %h2 Terms and Conditions
        %section.textbox
          %p
            Cancellation: A portion of your trip cost will be paid as a deposit. This is a 100% non-refundable deposit. The rest of your trip cost will be returned if cancelation takes place 30 days or more prior to departure. If the client decides to cancel anytime within 30 days, there is no refund. If the client decides not to participate in parts of the tour, there is no refund.
          %ul
            %li
              Adventure Amazon is not liable for additional food or alcohol not specified in the individual trip itinerary.
            %li
              The tour itineraries may be changed due to river or road conditions beyond the control of our company. Lodges or Hotels of the same standard may be substituted.
            %li
              We recommend purchasing travel insurance for illness, injury, death, theft, loss, accidents, acts of God, war, or flooding. This includes emergency evacuation or any medical costs.
            %li
              Adventure Amazon is not liable for any illness, injury, death, theft, loss, or accidents.
            %li
              Client's belongings are at his or her own risk.
            %li
              All of our Lodges are double rooms. If you wish to have single accommodation, it will cost extra. Please let us know if you need single accommodation.
            %li
              Clients are responsible for insurance on valuables such as camera equipment, binoculars, scopes, laptop, etc.
            %li
              Adventure Amazon reserves the right to cancel the trip before departure for any reason whatsoever. This includes insufficient group numbers, disasters, strikes, war, earthquakes, or flooding. The refund of all payments received that have not yet been used for the trip shall exclude Adventure Amazon from any liability.
            %li
              When signing up for a tour with Adventure Amazon, you agree to follow the instructions of your tour guide.
            %li
              In the event that you go on walks on your own, Adventure Amazon cannot be held responsible for any damages or injuries.
            %li
              If the road is too dangerous to pass, we may be late on our return to Cusco. Adventure Amazon is not liable for any missed flights or travel reservations up to 48 hours from our scheduled return to Cusco.
            %li
              For any further questions please contact us at
              %a{href: "mailto:AdventureAmazon1@gmail.com"} AdventureAmazon1@gmail.com
    %footer
      %a{href: "mailto:AdventureAmazon1@gmail.com"} Send Us an Email
      &middot;
      %a{href: "#/terms"} Terms and Conditions
      &middot;
      Copyright &copy; 2015 Adventure Amazon &middot; Site by <a href="http://musikanimal.github.io/">MusikAnimal</a>